h1 {
    text-align: center;
    background-color: white;
    border-radius: 24px;
    padding: 7px;
    display: inline-block;
    box-shadow: 0 0 5px #888;
    margin-left: 30%;
    margin-top:10px;
}

body {
    background-color: royalblue;
}

table {
    border:1px solid black;
    background-color: beige;
    border-radius: 24px;
    padding:6px;
    width: 100%;
}

tr {
    margin:0;
    border:1px solid black;
    background-color: white;
}

th {
    margin: 0;
    border:1px solid black;
    padding:5px;
}

th:hover {
    background-color: lightgrey;
}

#calc {
    background-color: lightgrey;
    border:1px solid black;
    border-radius: 24px;
    display: inline-block;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 50%;
    padding: 1cm;
    box-shadow: 0 0 5px #888;
}

input {
    border: 1px solid black;
    padding: 7px;
    width: 95%;
}

button {
    text-decoration: none;
    height: 100%;
    width: 100%;
    background:none;
    border:none;
    font-size: 20px;
}

footer {
    margin-top: 4cm;
}